# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/

# Package lockfile
/pubspec.lock

# FVM
.fvm/

# Android generated/cache files
**/.gradle/
**/local.properties
**/captures/
**/build/

# iOS generated/cache files
**/.symlinks/
**/Pods/
**/Flutter/ephemeral/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh

# Xcode user-specific files
**/xcuserdata/
**/*.xcuserstate


# IntelliJ / Android Studio
.idea/
*.iml